$bg-color: #9e4d77;
$base-color: #04AA6D;
$link-color: #42b983;
$hover-color: #f0ec0e;
$outline-color:#4CAF50;
$menu-color: #2c3e50;
$text-color: white;
$flex-container-color: #f1f1f1;
$border-dark: rgba($base-color, 0.88);

$outline-width: 5px;